
/* colors */
$white: #ffffff;
$black: #000000;
$dark-grey: #555555;
$light-grey-border: #ebebeb;
$light-grey: #999999;
$header_bg: #70A800;
$sidebar-button-hover: rgba($gray-500, 0.4);
$feature-path-highlight: #FF6A00;
$feature-path-color: #FF8300;
$hover-border: #0E4050;
$dropdown-border: #E5E5E5;
$feature-highlight: #ff0000;
$filter-header: #BFBFBF;
$basemap-selected: #A8C6EE;
$mobile-header-bg: rgba($header_bg,0.2); /* header bg */
$btn-primary: $gray-400;
$btn-primary-disabled: $gray-900;
$tabs-active: $btn-primary;
$tabs-hover: rgba($btn-primary, 0.5);
$button-hover: rgba($gray-600, 0.7);
$btn-primary-hover: rgba($btn-primary, 0.7);
$red: #dc3545;
